:root {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: gray;
    

}
body{
    background-color:azure;
    text-align:center
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

figure {
    max-width: 430px;
    margin: 0 auto;
    
}

figure img {
    width: 100%;
    border-radius: 3em;
    
}
h1{
    background-color: blanchedalmond;
    padding: 2em 0;
    border-radius: .5em;
}
ul{
    padding: 0;
}
li{
    padding: 1em;

}
li span:hover{
    cursor: pointer;
    background-color: lime;
}
li span:active{
    background-color: aqua;
}
.odd{
    background-color: aquamarine;
    padding: 2em 0;
}
.par{
    background-color: blanchedalmond;
    padding: 2em 0;
}
.footer{
    width: 100%;
    position:sticky;
    bottom:0;
    background-color:blanchedalmond;
    padding: 1em 0;
    font-size: .8em;
}
#hoveredTextContainer {
    position: absolute;
    display: none;
    background-color: rgb(198, 3, 3);
    border: 1px solid #ccc;
    color: white;
    padding: 5px;
    min-width: 100px;
    min-height: 100px;
    left: 0;
  }